<div class="d-flex align-items-center min-vh-100 bg-white text-center">
  <div class="container">
    <div class="mb-5">
      <i class="bi bi-italic fs-1 text-primary-custom"></i> 
      </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="display-1 fw-bold text-primary-custom mb-4">404 ERREUR</h1>



        <div class="message-content">
          <h2 class="h4 fw-bold text-info mb-1">Impossible de trouver la page</h2>
          <p class="text-dark fw-bold">
            Si vous pensez que ce message est une erreur, veuillez <br>
            <a routerLink="/contact" class="text-info text-decoration-underline">nous contacter</a>
          </p>
        </div>
        
        <button routerLink="" class="btn btn-outline-info mt-4">Retour à l'accueil</button>
      </div>
    </div>
  </div>
</div>